/*
    Styling for header & footer
*/

header,
footer {
    background-color: #C9D6DF;
}

header nav,
footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header nav button {
    all: unset;
    cursor: pointer;
    padding: 0.5rem;
}

header nav button:focus {
    outline: revert;
}

header nav button:hover {
    background-color: #FFF5E4;
}

footer {
    padding: 0.5rem;
    align-self: end;
}

/* header buttons active styling */
header nav button.active {
    background-color: #FFF5E4;
}